{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header bg-dark text-white">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                        <h1 class="display-2 mb-4">Testing<br class="d-none d-md-inline">Data</h1>
                        

                        <div class="form-group">
                            <!-- <label>Link Berita</label> -->
                            <input type="link" class="form-control" id="link" name="link" placeholder="Enter link">
                          </div>

                          <button type="submit" class="btn btn-primary">Submit</button>

                    


                        <!-- <p class="lead mb-4 text-muted">Themesberg can help you build a modern website, a creative logo or PWA, that will bring you customers and and stay on top of your competition.</p>
                        <a href="./services.html" class="btn btn-tertiary me-3 animate-up-2">What we do <span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                        -->
                    </div> 
                  <div class="col-12 col-md-5 d-none d-md-block text-center"><img src="/static/assets/img/illustrations/about-illustration.svg" alt=""></div>
               </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
               <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                  <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
               </svg>
            </figure>
        </section>

        <section class="section section-md">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">


                        <H1>Isi Berita</H1>
                          <p> 
                              
                              Jakarta - Korps Adhyaksa digegerkan dengan database atau basis data
                              mereka diretas dan hendak dijual. Usut punya usut, peretas database 
                              Kejaksaan Agung (Kejagung) itu seorang anak baru gede (ABG) berumur 
                              16 tahun di Lahat, Sumatera Selatan (Sumsel).Kejagung berkoordinasi 
                              Badan Siber dan Sandi Negara (BSSN) untuk membongkar sosok peretas 
                              database mereka. Kejagung memperoleh informasi dugaan peretasan dan
                              penjualan database mereka di situs raidforums.com."Dari penelusuran
                              yang didapatkan identitas pelaku berinisial adalah M atau panjangannya
                              ada MFW," kata Kapuspenkum Kejagung, Leonard Eben Ezer Simanjuntak, 
                              dalam konferensi pers di Kejagung, Jl Sultan Hasanuddin, 
                              Jakarta Selatan, Jumat (19/2/2021). 
                              MFW adalah remaja berumur 16 tahun tinggal di Lahat, Sumatera Selatan. 
                              Pelaku kemudian diamankan dan dibawa ke Kejaksaan Agung bersama orang tuanya. 
                              Kejagung soal Motif Pemuda 16 Tahun Terduga Peretas Database: 
                              Iseng"Yang bersangkutan saat ini masih berusia di bawa umur yaitu 16 tahun 
                              dan masih bersekolah," ujarnya.Usai menjelaskan sosok peretas database Kejagung, 
                              Leonard kemudian menjelaskan duduk perkara ini berawal dari informasi terjadi 
                              penjualan database kejaksaan di https://raidforums.com/, Rabu (17/2).
                              Kejagung kemudian mengecek situs penjual database itu, namun Kejagung menilai 
                              data tersebut merupakan data terbuka untuk umum, tidak terhubung dengan 
                              database kepegawaian di aplikasi."Dari hasil penelusuran tim, baik itu yang 
                              diketuai bapak Kapusdaskrimti, didapat hasilnya total database yang 
                              diperjualbelikan sebesar 500 megabite dengan total line database sebanyak 
                              3.086.224 dan dijual seharga 8 kredit atau sekitar Rp 400 ribu," ujarnya. 
                              Pemuda 16 Tahun Peretas Database Kejagung Tak Diproses Hukum, Ini Alasannya
                              Leonard lebih lanjut menjelaskan proses penangkapan MFW sengaja dipancing tim 
                              kejaksaan untuk menjual database tersebut sehingga terungkap identitasnya.
                              "Berdasarkan data sampel yang diperoleh, diketahui bahwa data yang dijual merupakan
                               data akun admin web Kejaksaan RI yang menunjukkan username dan password yang 
                               kemungkinan menggunakan algoritma, phasing password. Kemudian data pegawai 
                               Kejaksaan RI, informasi perkara yang memang dikonsumsi oleh masyarakat. 
                               Dan juga, command line pelaku dalam melakukan dumping data pada website Kejaksaan RI," ujarnya."Tim dengan tenaga teknis kejaksaan melakukan investigasi dan memeriksa terhadap beberapa pengguna dari nama-nama yang tercatat dalam data tersebut. Dan didapat kesimpulan bahwa user tersebut adalah user untuk masuk ke dalam website kejaksaan. Tim kejaksaan mencoba memancing yang bersangkutan dengan membeli database kejaksaan RI di raid forum tersebut guna mendapatkan data kejaksaan yang dijual dalam bentuk file sebanyak total line database 3.086.224," tambahnya.Lalu, apa motif MFW meretas dan hendak menjual database Kejagung? MFW menyebut hanya iseng melakukan perbuatannya. Keisengan MFW disebut untuk mengisi waktu luang semasa sekolah daring di masa pandemi COVID-19.Tonton video \'Bocah 16 Tahun Asal Sumsel Retas Database Kejaksaan Agung\': [Gambas:Video 20detik]Simak selengkapnya, di halaman selanjutnya: Selanjutnya Halaman 1 2 
                               kejaksaan agung hacker remaja kejagung sumatera selatan peretasan lahat abg peretasan data round-up 
                               database hack database kejagung penjualan database 
                            
                            </p>

                          <H1>Hasil Klasifikasi</H1>
                          <h2> Peretasan </h2>

                          
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
